<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClipper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoClipper.Properties.Settings>
            <setting name="LastAudioPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVideoFolderPath" serializeAs="String">
                <value>视频素材</value>
            </setting>
            <setting name="LastMusicFolderPath" serializeAs="String">
                <value>背景音乐</value>
            </setting>
            <setting name="LastTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="LastContent" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVerse" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVerseContent" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSummary" serializeAs="String">
                <value />
            </setting>
        </AutoClipper.Properties.Settings>
    </userSettings>
</configuration>