<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextOCR.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextOCR.WPF.Properties.Settings>
            <setting name="SubtitleHeight" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="FromTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrameInterval" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PreviewSecond" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LastVideoPath" serializeAs="String">
                <value />
            </setting>
        </TextOCR.WPF.Properties.Settings>
    </userSettings>
</configuration>
